{% extends "mainApp/base.html" %}
{% load static %}
{% block changeContent %}
<div class="center">
  <div class="center-container">
    <div class="no-value-container">
      <div class="dot-spinner" id="loader">
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
        <div class="dot-spinner__dot"></div>
      </div>
      <div style="display:none;" id="myDiv" class="animate-bottom">
        <h2>Ups!</h2>
        <p>Your entry was empty, please search again!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}