{% extends "mainApp/base.html" %}
{% load static %}
{% block changeContent %}
<div class="center">
  <div class="center-container">
    <div class="center-container_img">
      <img src="{{STATIC_URL}}../../static/mainApp/imgs/pythonlogo.svg" alt="image">
    </div>
    <div class="center-container_text">
      <h1 class="center-container_text_h">
        Bienvenidos al sitio
      </h1>
    </div>
    <div class="center-container_text2">
      <h4 class="center-container_text2_h">Para ingresar al administrador, por favor utilizar
        <div class="center-container_text2_hdiv">
          <p class="center-container_text2_hdiv_text">Username: admin</p>
          <p class="center-container_text2_hdiv_text">Password: 123</p>
        </div>
      </h4>
    </div>
    <!--resultados-->
    <div class="results-container">
      <!--mensaje de formulario enviado correctamente para todos los tipos-->
      {% if messages %}
      <h5 class="upper-text">Successfully Added</h5>
      <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      <h5 class="lower-text">to the Database</h5>
      {% endif %}


      <!--resultado de busqueda correcta en curso-->
      {% for item in course %}
      <h4 class="upper-text">Curso encontrado</h4>
      <div class="messages">
        <h5>Nombre de Curso: {{item.name}}</h5>
        <h5>Numero de Curso: {{item.course_number}}</h5>
      </div>
      {% endfor %}

      <!--resultado de busqueda correcta en estudiante-->
      {% if student %}
      <h4 class="upper-text">Estudiante existente</h4>
      {% for item in student %}
      <div class="student-container">
        <div class="student-container_left">
          <div class="student-container_left_imgc">
            <img class="img-plain" src='{{item.avatar.url}}' alt="image">
          </div>
        </div>
        <div class="student-container_right">
          <p>Name: {{item.name}}</p>
          <p>Lastname: {{item.last_name}}</p>
          <p>Username: {{item.username}}</p>
          <p>Email: {{item.email}}</p>
          <p>Age: {{item.age}}</p>
        </div>
      </div>
      {% endfor %}
      {% endif %}

      <!--resultado de busqueda correcta en profesor-->
      {% if teacher %}
      <h4 class="upper-text">Profesor existente</h4>
      {% for item in teacher %}
      <div class="student-container">
        <div class="student-container_left">
          <div class="student-container_left_imgc">
            <img class="img-plain" src='{{item.avatar.url}}' alt="image">
          </div>
        </div>
        <div class="student-container_right">
          <p>Name: {{item.name}}</p>
          <p>Lastname: {{item.last_name}}</p>
          <p>Username: {{item.username}}</p>
          <p>Email: {{item.email}}</p>
          <p>Age: {{item.age}}</p>
          <p>Programming Language: {{item.programming_language}}</p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  {% endblock %}