{% extends "mainApp/base.html" %}
{% load static %}
{% block changeContent %}

<div class="center">
  <div class="center-container">
    <div class="form-container">
      <h3>Add Student Here:</h3>
      <!--carga de form-->
      {% if myForm.errors %}
      <p>ERROR</p>
      {% endif %}
      <form action="" method="POST">{% csrf_token %}
        <table>
          {{myForm.as_table}}
        </table>
        <input type="submit" class="btn btn-success" value="Send">
      </form>
    </div>
    <!--busqueda de estudiante-->
    <form class="w-25 p-3 d-flex" role="search" action="/mainApp/searchStudent/" method="GET">
      <input class="form-control me-2" type="text" placeholder="search by username" aria-label="Search" name='username'
        id='username'>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</div>

{% endblock %}